.displayNone {
    display: none;
}

.displayDefault {
    display: default;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

#score {
    background-color: #c4ecff96;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #29292941;
    position: absolute;
    left: 212px;
    top: 134px;
    width: 600px;
    height: 500px;
}

#score > div {
    margin: auto;
}

#score > h2 {
    font-family: Lilita One;
    color: #ffd700;
    text-shadow: 0px 0px 2px black;
    padding-left: 248px;
}

#score p {
    text-align: center;
    padding: 0 100px;
}


#score > ol {
    font-family: Lilita One;
    color: #2c2c2c;
    padding-left: 248px;
}

#winner {
    text-align: center;
    font-family: Lilita One;
    color: #ffd700;
    text-shadow: 0px 0px 2px black;
}

#nameField {
    font-family: Lilita One;
    margin-left: auto;
}

#nameButton {
    font-family: Lilita One;
    margin-right: auto;
}

#playAgain {
    font-size: 20px;
    font-family: Lilita One;
    text-shadow: 0px 0px 2px black;
    position: absolute;
    top: 10;
    left: 930px;
    color: #ffd700;
    background: inherit;
    border:none;
}