#preload {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(assets/players/bunny2_stand.png) no-repeat -9999px -9999px,
    url(assets/players/bunny2_walk1.png) no-repeat -9999px -9999px,
    url(assets/players/bunny2_walk2.png) no-repeat -9999px -9999px,
    url(assets/players/bunny2_jump.png) no-repeat -9999px -9999px,
    url(assets/tutorial/keysextended.svg)
}

#tutorial {
    position: absolute;
    height: 768px;
    width: 1024px;
}

#spaceBar {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -43px -190px;
    width: 170px;
    height: 47px;
    top: 550px;
    left: 300px;
    position: absolute;
}

#leftArrow {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -42px -140px;
    width: 54px;
    height: 47px;
    top: 550px;
    left: 545px;
    position: absolute;
}

#upArrow {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -100px -95px;
    width: 54px;
    height: 47px;
    top: 495px;
    left: 600px;
    position: absolute;
}

#rightArrow {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -158px -140px;
    width: 54px;
    height: 47px;
    top: 550px;
    left: 655px;
    position: absolute;
}

#player {
    background-repeat: no-repeat;
    position: absolute;
    height: 100px;
}

.idle {
    width: 60px;
    top: 350px;
    left: 482px;
    background-image: url(assets/players/bunny2_stand.png);
    background-size: 60px;
}

.walkRight {
    width: 60px;
    top: 350px;
    left: 482px;
    animation: walk 400ms infinite;
    background-size: 60px;
}

.walkLeft {
    width: 60px;
    top: 350px;
    left: 482px;
    animation: walk 400ms infinite;
    background-size: 60px;
    transform: rotateY(180deg);
}

@keyframes walk {

    0%,
    50% {
        background-image: url(assets/players/bunny2_walk1.png);
    }

    51%,
    100% {
        background-image: url(assets/players/bunny2_walk2.png);
    }
}

.jump {
    background-size: 60px;
    width: 75px;
    left: 482px;
    top: 350px;
    background-image: url(assets/players/bunny2_stand.png);
    animation: jump 1.2s 2;
}

@keyframes jump {

    0% {
        background-size: 75px;
        width: 75px;
        left: 475px;
        top: 350px;
        background-image: url(assets/players/bunny2_jump.png);
    }

    55% {
        background-size: 75px;
        width: 75px;
        left: 475px;
        top: 275px;
        background-image: url(assets/players/bunny2_jump.png);
    }

    56% {
        background-size: 60px;
        width: 75px;
        left: 482px;
        top: 275px;
        background-image: url(assets/players/bunny2_stand.png);
    }

    100% {
        background-size: 60px;
        width: 60px;
        left: 482px;
        top: 350px;
        background-image: url(assets/players/bunny2_stand.png);
    }
}

.selected {
    border: solid 2px red;
}

;