#tutorial {
    position: absolute;
    height: 768px;
    width: 1024px;
}

#spaceBar {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -43px -190px;
    width: 170px;
    height: 47px;
    top: 550px;
    left: 300px;
    position: absolute;
}

#leftArrow {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -42px -140px; 
    width: 54px;
    height: 47px;
    top: 550px;
    left: 545px;
    position: absolute;
}

#upArrow {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -100px -95px; 
    width: 54px;
    height: 47px;
    top: 495px;
    left: 600px;
    position: absolute;
}

#rightArrow {
    background-image: url(assets/tutorial/keysextended.svg);
    background-position: -158px -140px; 
    width: 54px;
    height: 47px;
    top: 550px;
    left: 655px;
    position: absolute;
}

#player {
    background-image: url(assets/players/bunny2_stand.png);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 100px;
    top: 350px;
    left: 482px;
    position: absolute;
}

.selected {
    border: solid 2px red;
}